numpy==1.26.4
requests
beautifulsoup4
langchain
langchain-community
sentence-transformers
langchain-huggingface
langchain-google-genai
gradio
fastapi
uvicorn[standard]
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchvision==0.18.1
faiss-cpu==1.8.0